<!-- Dyn beacon tag-->
<script src='http://jisusaiche.com/js/dyn.beacon.min.js' id='beaconcfg' data-id='0032' data-other=''>
</script>

<!-- ASCI prequal tag-->
<script type="text/javascript" language="JavaScript">
    (function ()
    {
        var cb       = new Date().getTime();
        var asiPqTag = false;
        var e        = document.createElement("script");
        var src      = "http://pq-direct.revsci.net/pql?placementIdList=8VaWR8&cb=" + cb;
        var s        = document.getElementsByTagName("script")[0];
        e.async      = true;

        // JRW mod original tag by adding the following
        e.onload = function ()
        {
            if (typeof asiPlacements != "undefined")
            {
                for (asiPlacement in asiPlacements)
                {
                    asiBlob = asiPlacements[asiPlacement].blob;
                    break;
                }
                // set data-other for beacon (only 12 chars)
                if (asiBlob)
                {
                    var dyn = document.getElementById("beaconcfg");
                    dyn.setAttribute('data-other', asiBlob.substr(0, 12));
                }
            }
        };

        e.src = src;
        s.parentNode.insertBefore(e, s);
    })();
</script>

<!-- Get ad after everything is loaded -->
<script type="text/javascript" language="JavaScript">
    window.onload = function ()
    {
        if (typeof asiPlacement != "undefined")
        {
            // pick any ad group
            for (var key in asiPlacements[asiPlacement].data)
            {
                asiAdGroup = asiPlacements[asiPlacement].data[key].key;
                break;
            }

            if (typeof asiAdGroup != "undefined")
            {
                var cb  = new Date().getTime();
                var url = 'http://' + asiAdserver +
                        '/rtbads/pq?adgroup=' + asiAdGroup +
                        '&blob=' + asiBlob +
                        '&placement=' + asiPlacement +
                        '&cachebuster=' + cb +
                        '&click=&mode=h';

                // set frame src to the ad
                var ifr = document.getElementById("ifr");
                ifr.src = url;

                // display success
                var tx     = document.getElementById("tx");
                var dyn    = document.getElementById("beaconcfg");
                var dOther = dyn.getAttribute('data-other');

                tx.innerText = 'Transaction BID: ' + asiBlob + ' Dyn: '  + dOther;
            } else
            {
                // display locked
                var tx       = document.getElementById("tx");
                tx.innerText = 'Transaction NOBID';
            }
        } else
        {
            // display failed
            var tx       = document.getElementById("tx");
            tx.innerText = 'Transaction FAILED';
        }
    }
</script>

<h1>{{title}}</h1>
<label id="tx">NOTRENDERED</label><br/>
<iframe id="ifr" width="300" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0"
        scrolling="no" bordercolor="#000000"/>

