<!-- ASCI prequal tag-->
<script type="text/javascript" language="JavaScript">
    (function ()
    {
        var cb       = new Date().getTime();
        var asiPqTag = false;
        var e        = document.createElement("script");
        var src      = "http://pq-direct.revsci.net/pql?placementIdList=8VaWR8&cb=" + cb;
        var s        = document.getElementsByTagName("script")[0];
        e.async      = true;
        e.src        = src;
        s.parentNode.insertBefore(e, s);
    })();
</script>

<!-- ASCI wrapped metrics tag -->
<script type="text/javascript" language="JavaScript" src="/js/asci_metrics.js"></script>

<!-- Publisher's page source.  Get ad after everything is loaded -->
<script type="text/javascript" language="JavaScript">
    window.onload = function ()
    {
        if (typeof asiPlacements != "undefined")
        {
            // grab placement
            for (asiPlacement in asiPlacements)
            {
                asiBlob = asiPlacements[asiPlacement].blob;
                break;
            }

            if (typeof asiPlacement != "undefined")
            {
                // pick any ad group
                for (var key in asiPlacements[asiPlacement].data)
                {
                    asiAdGroup = asiPlacements[asiPlacement].data[key].key;
                    break;
                }

                if (typeof asiAdGroup != "undefined" && typeof asiBlob != "undefined")
                {
                    var cb  = new Date().getTime();
                    var url = 'http://' + asiAdserver +
                        '/rtbads/pq?adgroup=' + asiAdGroup +
                        '&blob=' + asiBlob +
                        '&placement=' + asiPlacement +
                        '&cachebuster=' + cb +
                        '&click=&mode=h';

                    // set frame src to the ad
                    var ifr = document.getElementById("ifr");
                    ifr.src = url;

                    // display bid
                    var tx       = document.getElementById("tx");
                    tx.innerText = 'Transaction BID: ' + asiBlob;
                }
                else
                {
                    // display nobid
                    var tx       = document.getElementById("tx");
                    tx.innerText = 'Transaction NOBID';
                }
            }
        }

        if (typeof asiPlacement == "undefined")
        {
            // display failed
            var tx       = document.getElementById("tx");
            tx.innerText = 'Transaction FAILED';
        }
    }
</script>

<h1>{{title}}</h1>
<label id="tx">NOTRENDERED</label><br/>
<iframe id="ifr" width="300" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0"
        scrolling="no" bordercolor="#000000"/>

